[submodule "MOM6/MOM6"]
	path = MOM6/MOM6
	url = https://github.com/mom-ocean/MOM6
[submodule "CICE6/CICE6"]
	path = CICE/CICE
	url = https://github.com/CICE-Consortium/CICE
[submodule "WW3"]
	path = WW3
	url = https://github.com/NOAA-EMC/WW3
[submodule "CMEPS/CMEPS"]
	path = CMEPS/CMEPS
	url = https://github.com/ESCOMP/CMEPS
[submodule "CDEPS/CDEPS"]
	path = CDEPS/CDEPS
	url = https://github.com/ESCOMP/CDEPS
[submodule "share/CESM_share"]
	path = share/CESM_share
	url = https://github.com/ESCOMP/CESM_share.git
