name: compilation

on:
  push:

jobs:
  compilation:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc]
        build_type: [Debug, Release]

    container:
      image: ghcr.io/cosima/access-om3-ci-images/${{matrix.compiler}}:0.3.0

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Configure CMake
        env:
          FC: mpifort
          CC: mpicc
        run: . /etc/profile && cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_VERBOSE_MAKEFILE=ON

      - name: Build
        # Build your program with the given configuration
        run: . /etc/profile && cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}}
